/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;

}
.markdown-body img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}
.container{
	border-bottom: none;

}
.background-color{
	background-color: red;
	background-color: green;
	background-color: yellow;
}
.width {
	width: 100px;
}
.height{
	height: 100px;
}
.border-radius{
	 border-radius: 50%;
}
.display{
	display: inline-block;
}
.red, .green, .yellow {
    display: inline-block;
    width: 30%;
   
}